.col-md-6
  - @post_types.each do |post_type|
    .panel.panel-default
      .panel-heading= post_type.name
      .panel-body
        - post_type.posts.limit(5).each do |post|
          %p
            = l post.post_at
            = post.title
        = I18n.t("home.continue")
.col-md-6
  .panel.panel-default
    .panel-heading
      = I18n.t("home.inquiry")
    .panel-body
