%ol.breadcrumb
  %li= link_to I18n.t("home.page"), root_path
  %li.active= @section.name
.col-md-3
  %h4= @section.name
  %ul.list-group
    %li.list-group-item= I18n.t("menu.category")
    - @section.categories.each do |category|
      %li.list-group-item
        = link_to category.name, section_category_path(section_id: @section.id, id: category.id)
        %span.badge= category.cases.count
.col-md-9
  .panel.panel-default
    .panel-body
