%ul.list-group
  %li.list-group-item= link_to I18n.t("admin_menu.dashboard"), admin_root_path
  %li.list-group-item= link_to I18n.t("admin_menu.post"), admin_posts_path
  %li.list-group-item= link_to I18n.t("admin_menu.post_type"), admin_post_types_path
  %li.list-group-item= link_to I18n.t("admin_menu.section"), admin_sections_path
  %li.list-group-item= link_to I18n.t("admin_menu.category"), admin_categories_path
  %li.list-group-item= link_to I18n.t("admin_menu.case"), admin_root_path
  %li.list-group-item= link_to I18n.t("admin_menu.inquiry"), admin_inquiries_path
