!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : I18n.t(".brand") + " - " + I18n.t(".service")

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .header
      = render "layouts/header"
    .container
      .row
        = yield
